*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    position:absolute;
    overflow-x:hidden;
    width:100%;
}
.site-header{
    width:100%;
    display:flex;
    justify-content:center;
    padding:2vw 0;
    background-color: black;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.nav-wrapper{
    width:90%;
    max-width:1200px;
    background:rgb(219, 219, 19);
    border-radius:60px;
    padding:18px 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.logo{
    font-size:1.8vw;
    font-weight:bold;
    color:#0051ff;
}

.logo img{
     height: 2vw; 
    width: auto;  
}

.nav-links{
    display:flex;
    gap:0.5vw;
}

.nav-links a{
    text-decoration:none;
    color:#444;
    font-size:1vw;
    padding:0.8vw 1.4vw;
    border-radius:20px;
    transition:0.3s;
}

.nav-links a:hover{
    background:#6a2de2;
    color:white;
}
.sign {
    background-image:linear-gradient(to bottom, rgb(159, 159, 0), black);
    width:10vw;
    height:10vw;
    font-size:1vw;
    position:absolute;
    border-radius:50%;
    border-style:solid;
    border-width:0.3vw;
    border-color:white;
    color:white;
    display:flex;
    text-decoration:none;
    justify-content:center;
    align-items:center;
    z-index:1000;
    top:-2vw;
    left:-2vw;
    font-size:1vw;
    box-shadow:0vw 0vw 1vw white;
    transition:0.5s;
}
.sign:hover {
    scale:1.2;
}
div#buttonp:hover {
    scale:1.2;
}
div#buttonp {
    background-image:linear-gradient(to bottom, rgb(159, 159, 0), black);
    width:10vw;
    height:10vw;
    font-size:1vw;
    position:absolute;
    border-radius:50%;
    border-style:solid;
    border-width:0.3vw;
    border-color:white;
    color:white;
    display:flex;
    text-decoration:none;
    justify-content:center;
    align-items:center;
    z-index:1000;
    top:-2vw;
    left:92vw;
    font-size:1vw;
    box-shadow:0vw 0vw 1vw white;
    transition:0.5s;
}
.site-footer{
    margin-top:auto;
    width:100%;
    background:aliceblue;
    padding:2vw 0;
}

.footer{
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.footer div{
    padding:1vw 1.5vw;
}

.footer a{
    text-decoration:none;
    color:#333;
    font-size:1vw;
}

.footer a:hover{
    color:#6a2de2;
}
