*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
a {
    text-decoration:none;
}
header {
    display:block;
    background-color:rgb(79, 162, 162);
}
div.top {
    display:flex;
}
div.topimg {
    flex: 70%;
}
div.toptitle {
    flex: 30%;
    text-align:right;
    font-size:4.5vh;
}
div.nav {
    background-color:rgb(79, 162, 162);   
}
li.head {
    float:right;
    list-style-type:none;
}
li.head  a {
    display:block;
    padding:1.5vh;
    background-color:rgb(79, 162, 162);
}
li a:hover {
    background-color:white;
    color:black;
}
