*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
a {
    text-decoration:none;
}
header {
    display:block;
    background-color:rgb(79, 162, 162);
}
div.top {
    display:flex;
}
div.topimg {
    flex: 70%;
}
div.toptitle {
    flex: 30%;
    text-align:right;
    font-size:4.5vh;
}
div.nav {
    background-color:rgb(79, 162, 162);   
}
li.head {
    float:right;
    list-style-type:none;
    background-color:rgb(79, 162, 162);
}
li.head  a {
    display:block;
    padding:1.5vh 6.08vw;
    background-color:rgb(79, 162, 162);
}
li.head a:hover {
    background-color:white;
    color:black;
}
footer {
    background-color:aliceblue;
    display:block;
    padding-top:1vh;
    padding-bottom:1vh;
}
div.footer {
    display:block;
}
div.copyright, div.frisbee, div.references {
    float:right;
    padding:2.9vh 5.359vw;
    background-color:aliceblue;
}
div.copyright:hover, div.frisbee:hover, div.references:hover, div.fb:hover, div.email:hover, div.ig:hover {
    color:black;
    background-color:white;
}

div.fb, div.email, div.ig {
    float:right;
    padding: 1.5vh 5.359vw;
    background-color:aliceblue;
}