* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body {
    background: linear-gradient(to bottom, #e0f7fa, #ffffff); 
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: black;
}
.site-footer{
    margin-top:auto;
    width:100%;
    background:aliceblue;
    padding:20px 0;
}
.footer{
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.footer div{
    padding:10px 15px;
}

.footer a{
    text-decoration:none;
    color:#333;
}

.footer a:hover{
    color:#6a2de2;
}