/* 3 boxes */
#game-selection{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    flex-wrap: wrap
}
.game-box{
    width: 180px
}
/* QNA */

/* Reaction Test */

/* Lootbox */
body{

}