.body {
                    position:relative;
                    padding-top:0vw;
                    padding-bottom:0vw;
                    width:100%;
                    background-image:linear-gradient(-45deg, rgb(0, 0, 0), rgb(181, 181, 0), rgb(255, 255, 203));
                    background-size:400% 400%;
                    z-index:10;
                    overflow-x:hidden;
                    overflow-y:hidden;
                    height:78vw;
                    animation: gradientbg 15s ease infinite alternate;
                }
                /* animation for the background from this website: https://www.sliderrevolution.com/resources/css-animated-background/ */
                @keyframes gradientbg {
                    0% {background-position: 0% 50%;}
                    50% {background-position: 100% 50%;}
                    100% {background-position:0% 50%}
                }
                div#title {
                    font-size:10vw;
                    width:50vw;
                    height:5vw;
                    position:absolute;
                    left: 32vw;
                    top: 2vw;
                }
                div.click {
                    font-size:2vw;
                    width:30vw;
                    height:3vw;
                    position:absolute;
                    left:37vw;
                    top:2vw;
                }
                img.main {
                    border-radius:50%;
                    height:20vw;
                    width:20vw;
                    position:absolute;
                    left:20vw;
                    top:15vw;
                    z-index:6;
                    animation-name:start;
                    animation-duration:3s;
                    animation-fill-mode:forwards;
                }
                @keyframes start {
                    0% {width:0vw; height:0vw; left:25vw; top:5vw;}
                    50% {width:20vw; height:20vw; left:41vw; top:5vw;}
                    100% {top:17.5vw; left:40vw; top:35vw;}
                }
                div#circle1, div#circle2, div#circle3, div#circle4, div#circle5, div#circle6 {
                    display:flex;
                    width:0vw;
                    height:0vw;
                    position:absolute;
                    left:46.5vw;
                    top:41.5vw;
                    border-radius:50%;
                    background-image:linear-gradient(to bottom, rgb(255, 247, 88), rgb(0, 0, 0));
                    border-style:solid;
                    border-width:0vw;
                    border-color:rgba(0, 0, 0, 0.458);
                    animation:2s;
                    animation-fill-mode:forwards;
                    font-size:0vw;
                    justify-content:center;
                    align-items:center;
                    color:rgb(255, 255, 255);
                    font-weight:bold;
                    z-index:5;
                }
                p#small4, p#small5 {
                    display:flex;
                    border-radius:50%;
                    animation:2s;
                    animation-fill-mode:forwards;
                    font-size:0vw;
                    justify-content:center;
                    align-items:center;
                }
                div#circle1 {
                    animation-delay:0.2s;
                }
                div#circle2 {
                    animation-delay:0.4s;
                }
                div#circle3 {
                    animation-delay:0.6s;
                }
                div#circle4 {
                    animation-delay:0.8s;
                }
                div#circle5 {
                    animation-delay:1s;
                }
                div#circle6 {
                    animation-delay:1.2s;
                }
                @keyframes c1 {
                    0% {width: 0vw; height: 0vw; left:46.5vw; top:41.5vw; font-size:0vw;}
                    100% {width:13vw; height:13vw; left:25vw; top:30vw; font-size:2vw; border-width:0.5vw}
                }
                @keyframes c2 {
                    0% {width: 0vw; height: 0vw; left:46.5vw; top:41.5vw; font-size:0vw;}
                    100% {width:13vw; height:13vw; left:43.5vw; top:20vw; font-size:2vw; border-width:0.5vw}
                }
                @keyframes c3 {
                    0% {width: 0vw; height: 0vw; left:46.5vw; top:41.5vw; font-size:0vw;}
                    100% {width:13vw; height:13vw; left:62vw; top:30vw; font-size:2vw; border-width:0.5vw}
                }
                @keyframes c4 {
                    0% {width: 0vw; height: 0vw; left:46.5vw; top:41.5vw; font-size:0vw;}
                    100% {width:13vw; height:13vw; left:25vw; top:50vw; font-size:2vw; border-width:0.5vw}
                }
                @keyframes s4 {
                    0% {font-size:0vw;}
                    100% {font-size:1vw;}
                }
                @keyframes c5 {
                    0% {width: 0vw; height: 0vw; left:46.5vw; top:41.5vw; font-size:0vw;}
                    100% {width:13vw; height:13vw; left:43.5vw; top:57vw; font-size:2vw; border-width:0.5vw}
                }
                @keyframes s5 {
                    0% {font-size:0vw;}
                    100% {font-size:1vw;}
                }
                @keyframes c6 {
                    0% {width: 0vw; height: 0vw; left:46.5vw; top:41.5vw; font-size:0vw;}
                    100% {width:13vw; height:13vw; left:62vw; top:50vw; font-size:2vw; border-width:0.5vw}
                }
                div#throws1, div#throws2, div#throws3, div#throws4, div#throws5, div#throws5, div#throws6 {
                    width:0vw;
                    height:0vw;
                    position:absolute;
                    background-image:linear-gradient(to top, rgb(0,0,0), rgb(223, 205, 0));
                    border-radius: 3vw;
                    border-style:solid;
                    border-width:0vw;
                    border-color:rgb(255, 255, 255);
                    left: 25vw;
                    top:20vw;
                    animation-duration: 1s;
                    animation-fill-mode:forwards;
                    z-index:3;
                    font-size:0vw;
                    text-align:center;
                }
                p {
                    margin:1vw;
                }
                #img1, #img2, #img3, #img41, #img42, #img51, #img52, #img61, #img62 {
                    height:0vw;
                    width:0vw;
                    animation-duration:1s;
                    animation-fill-mode:forwards;
                }
                @keyframes open {
                    0% {height:0vw; width:0vw; font-size:0vw; border-width:0vw;}
                    100% {width:50vw; height: 55vw; font-size:2vw; border-width:0.5vw;}
                }
                @keyframes close {
                    0% {width:50vw; height:55vw; font-size:2vw; border-width:0.5vw}
                    100% {height:0vw; width:0vw; font-size:0vw; border-width:0vw;}
                }
                @keyframes opens {
                    0% {height:0vw; width:0vw; font-size:0vw; border-width:0vw;}
                    100% {width:50vw; height: 60vw; font-size:1.4vw; border-width:0.5vw}
                }
                @keyframes closes {
                    0% {width:50vw; height:60vw; font-size:1.4vw; border-width:0.5vw}
                    100% {height:0vw; width:0vw; font-size:0vw; border-width:0vw;}
                }
                @keyframes vidopen {
                    0% {width:0vw; height:0vw;}
                    100% {width:22vw; height:19vw;}
                }
                @keyframes vidclose {
                    0% {width:22vw; height:19vw;}
                    100% {width:0vw; height:0vw;}
                }

                @keyframes fadeo {
                    0% {opacity:100%}
                    100% {opacity:0%}
                }
                @keyframes fadei {
                    0% {opacity:0%}
                    100% {opacity:100%}
                }
                div.close {
                    position:absolute;
                    left:1vw;
                    top:1vw;
                    font-weight:bold;
                }
                footer {
                    position:relative;
                    z-index:100;
                }
                div#cover {
                    position:fixed;
                    top:0vw;
                    width:100%;
                    height:100%;
                    background-color:black;
                    opacity:0%;
                    z-index:-1;
                }
                .close, #he1, #he2, #he3, #he41, #he42, #he51, #he52, #he61, #he62, #bo1, #bo2, #bo3, #bo41, #bo42, #bo51, #bo52, #bo61, #bo62 {
                    color:white;
                }
                h2#he1 {
                    position:absolute;
                    top:22vw;
                    left:41vw;
                    font-size:4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%;
                    color:white;
                }
                p#bo1 {
                    position:absolute;
                    text-align:center;
                    left:29vw;
                    top:26vw;
                    width:40vw;
                    font-size:1.5vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img1 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:48vw;
                    left:39vw;
                    z-index:4;
                    opacity:0%;
                }
                h2#he2 {
                    position:absolute;
                    top:22vw;
                    left:41vw;
                    font-size:4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                p#bo2 {
                    position:absolute;
                    text-align:center;
                    left:29vw;
                    top:25.4vw;
                    width:40vw;
                    font-size:1.9vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img2 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:53vw;
                    left:39vw;
                    z-index:4;
                    opacity:0%;
                }
                h2#he3 {
                    position:absolute;
                    top:22vw;
                    left:42vw;
                    font-size:4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                p#bo3 {
                    position:absolute;
                    text-align:center;
                    left:29vw;
                    top:25.4vw;
                    width:40vw;
                    font-size:1.6vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img3 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:54vw;
                    left:39vw;
                    z-index:4;
                    opacity:0%;
                }
                h3#he41 {
                    position:absolute;
                    top:22vw;
                    left:32vw;
                    font-size:3.4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                h3#he42 {
                    position:absolute;
                    top:48vw;
                    left:32vw;
                    font-size:3.4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                p#bo41 {
                    position:absolute;
                    text-align:center;
                    left:25vw;
                    top:25.4vw;
                    width:24vw;
                    font-size:1.6vw;
                    z-index:4;
                    opacity:0%;
                }
                p#bo42 {
                    position:absolute;
                    text-align:center;
                    left:25vw;
                    top:52.4vw;
                    width:24vw;
                    font-size:2vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img41 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:27vw;
                    left:51vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img42 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:55vw;
                    left:51vw;
                    z-index:4;
                    opacity:0%;
                }
                h3#he51 {
                    position:absolute;
                    top:22vw;
                    left:32vw;
                    font-size:3.4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                h3#he52 {
                    position:absolute;
                    top:48vw;
                    left:32vw;
                    font-size:3.4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                p#bo51 {
                    position:absolute;
                    text-align:center;
                    left:25vw;
                    top:25.4vw;
                    width:24vw;
                    font-size:1.6vw;
                    z-index:4;
                    opacity:0%;
                }
                p#bo52 {
                    position:absolute;
                    text-align:center;
                    left:25vw;
                    top:52.4vw;
                    width:24vw;
                    font-size:1.5vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img51 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:27vw;
                    left:51vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img52 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:55vw;
                    left:51vw;
                    z-index:4;
                    opacity:0%;
                }
                h3#he61 {
                    position:absolute;
                    top:22vw;
                    left:43vw;
                    font-size:3.4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                h3#he62 {
                    position:absolute;
                    top:48vw;
                    left:43vw;
                    font-size:3.4vw;
                    font-weight:bold;
                    z-index:4;
                    opacity:0%
                }
                p#bo61 {
                    position:absolute;
                    text-align:center;
                    left:25vw;
                    top:25.4vw;
                    width:24vw;
                    font-size:1.6vw;
                    z-index:4;
                    opacity:0%;
                }
                p#bo62 {
                    position:absolute;
                    text-align:center;
                    left:25vw;
                    top:52.4vw;
                    width:24vw;
                    font-size:2vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img61 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:27vw;
                    left:51vw;
                    z-index:4;
                    opacity:0%;
                }
                video#img62 {
                    position:absolute;
                    width:22vw;
                    transition:0.5s;
                    height:19vw;
                    top:55vw;
                    left:51vw;
                    z-index:4;
                    opacity:0%;
                }
                #bgc1, #bgc2, #bgc3, #bgc4, #bgc5, #bgc6, #bgc7, #bgc8, #bgc9, #bgc10, #bgc11, #bgc12, #bgc13, #bgc14, #bgc15, #bgc16, #bgc17, #bgc18, #bgc19, #bgc20{
                    background-color:black;
                    width:0vw;
                    height:0vw;
                    position:absolute;
                    border-radius:50%;
                    transition:0.5s;
                    filter:blur(2vw);
                }
                #bgc1 {
                    top:0vw;
                    background-color:white;
                    animation: beginscale 0.8s ease 0s 1 normal forwards, anim1 100s linear -12s infinite normal, scale2 100s linear 2.7s infinite normal; 
                }
                #bgc2 {
                    background-color:yellow;
                    top:6vw;
                    animation: beginscale 0.8s ease 0.1s 1 normal forwards, anim2 100s linear -43s infinite normal, scale1 140s linear 2.7s infinite normal; 
                }
                #bgc3 {
                    background-color:green;
                    top:10vw;
                    animation: beginscale 0.8s ease 0.2s 1 normal forwards, anim1 100s linear -35s infinite normal, scale2 130s linear 2.7s infinite normal; 
                }
                #bgc4 {
                    background-color:red;
                    top:14vw;
                    animation: beginscale 0.8s ease 0.3s 1 normal forwards, anim2 100s linear -124s infinite normal, scale1 190s linear 2.7s infinite normal; 
                }
                #bgc5 {
                    background-color:blue;
                    top:18vw;
                    animation: beginscale 0.8s ease 0.4s 1 normal forwards, anim1 100s linear -94s infinite normal, scale2 200s linear 2.7s infinite normal; 
                }
                #bgc6 {
                    background-color:violet;
                    top:22vw;
                    animation: beginscale 0.8s ease 0.5s 1 normal forwards, anim1 100s linear -34s infinite normal, scale1 220s linear 2.7s infinite normal; 
                }
                #bgc7 {
                    background-color:silver;
                    top:26vw;
                    animation: beginscale 0.8s ease 0.6s 1 normal forwards, anim2 100s linear -67s infinite normal, scale1 150s linear 2.7s infinite normal; 
                }
                #bgc8 {
                    background-color:beige;
                    top:30vw;
                    animation: beginscale 0.8s ease 0.7s 1 normal forwards, anim1 100s linear -22s infinite normal, scale2 340s linear 2.7s infinite normal; 
                }
                #bgc9 {
                    background-color:cadetblue;
                    top:34vw;
                    animation: beginscale 0.8s ease 0.8s 1 normal forwards, anim1 100s linear -8s infinite normal, scale1 200s linear 2.7s infinite normal; 
                }
                #bgc10 {
                    background-color:white;
                    top:38vw;
                    animation: beginscale 0.8s ease 0.9s 1 normal forwards, anim2 100s linear -86s infinite normal, scale2 120s linear 2.7s infinite normal; 
                }
                #bgc11 {
                    top:42vw;
                    animation: beginscale 0.8s ease 1s 1 normal forwards, anim2 100s linear -64s infinite normal, scale2 231s linear 2.7s infinite normal; 
                }
                #bgc12 {
                    background-color:cadetblue;
                    top:46vw;
                    animation: beginscale 0.8s ease 1.1s 1 normal forwards, anim1 100s linear -15s infinite normal, scale1 111s linear 2.7s infinite normal; 
                }
                #bgc13 {
                    background-color:darkslategray;
                    top:50vw;
                    animation: beginscale 0.8s ease 1.2s 1 normal forwards, anim2 100s linear -49s infinite normal, scale2 196s linear 2.7s infinite normal; 
                }
                #bgc14 {
                    background-color:honeydew;
                    top:54vw;
                    animation: beginscale 0.8s ease 1.3s 1 normal forwards, anim1 100s linear -111s infinite normal, scale1 170s linear 2.7s infinite normal; 
                }
                #bgc15 {
                    background-color:lightslategrey;
                    top:58vw;
                    animation: beginscale 0.8s ease 1.4s 1 normal forwards, anim1 100s linear -44s infinite normal, scale1 169s linear 2.7s infinite normal; 
                }
                #bgc16 {
                    background-color:crimson;
                    top:62vw;
                    animation: beginscale 0.8s ease 1.5s 1 normal forwards, anim1 100s linear -58s infinite normal, scale1 142s linear 2.7s infinite normal; 
                }
                #bgc17 {
                    background-color:darkorange;
                    top:66vw;
                    animation: beginscale 0.8s ease 1.6s 1 normal forwards, anim2 100s linear -84s infinite normal, scale2 126s linear 2.7s infinite normal; 
                }
                #bgc18 {
                    background-color:moccasin;
                    top:70vw;
                    animation: beginscale 0.8s ease 1.7s 1 normal forwards, anim1 100s linear -95s infinite normal, scale1 178s linear 2.7s infinite normal; 
                }
                #bgc19 {
                    background-color:chartreuse;
                    top:74vw;
                    animation: beginscale 0.8s ease 1.8s 1 normal forwards, anim2 100s linear -30s infinite normal, scale2 263s linear 2.7s infinite normal; 
                }
                #bgc20 {
                    top:78vw;
                    animation: beginscale 0.8s ease 1.9s 1 normal forwards, anim2 100s linear -10s infinite normal, scale2 255s linear 2.7s infinite normal; 
                    
                }
                @keyframes anim1 {
                    0% {left:-20vw}
                    100% {left:140vw}
                }
                @keyframes anim2 {
                    0% {left: 140vw;}
                    100% {left:-20vw}
                }
                @keyframes scale1 {
                    0% {transform:scale(1); width:6vw; height:6vw;}
                    25% {transform:scale(0.8)}
                    50% {transform:scale(2)}
                    75% {transform:scale(0.5)}
                    90% {transform:scale(3)}
                    100% {transform:scale(1)}
                }
                @keyframes scale2 {
                    0% {transform:scale(1); width:6vw; height:6vw;}
                    25% {transform:scale(0.5)}
                    50% {transform:scale(3)}
                    75% {transform:scale(0.8)}
                    90% {transform:scale(2)}
                    100% {transform:scale(1)}
                    
                }
                @keyframes beginscale {
                    0% {width:0vw; height:0vw;}
                    100% {width:6vw; height:6vw;}
                }